<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basyuk.development.l101_contentprovider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:authorities="com.basyuk.development.providers.AddressBook"
            android:name=".MyContactProvider">
        </provider>
    </application>
</manifest>
